@page
@using MusicManagement.Domain.Enums
@model ServiceHost.Areas.AdminPanel.Pages.Music.Band.IndexModel
@{
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <a class="btn btn-primary text-white float-left" href="#showmodal=@Url.Page("./Index","CreateBand")">ایجاد بند<i class="zmdi zmdi-plus"></i></a>
            <p>
                Result :  @Model.Message
            </p>
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-center">
                            <thead>
                                <tr>
                                    <th>شناسه</th>
                                    <th>عنوان</th>
                                    <th>گروه</th>
                                    <th>وضعیت</th>
                                    <th>تعداد موسیقی ها</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>شناسه</th>
                                    <th>عنوان</th>
                                    <th>گروه</th>
                                    <th>وضعیت</th>
                                    <th>تعداد موسیقی ها</th>
                                    <th>عملیات</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.Bands)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Category</td>
                                        <td>
                                            @if (item.State == State.Active)
                                            {
                                                <label class="badge badge-success">Active</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-danger">UnActive</label>
                                            }

                                        </td>
                                        <td>@item.NumberOfAudio</td>
                                        <td>
                                            <a class="btn btn-warning btn-sm btn-round text-white" href="#showmodal=@Url.Page("./Index","EditBand",new {id=item.Id})">
                                                ویرایش
                                            </a>

                                            <a class="btn btn-info btn-sm btn-round text-white" asp-page-handler="ChangeState" asp-route-id="@item.Id">
                                                تغییر وضعیت
                                            </a>

                                            <a type="button"
                                               class="btn btn-success btn-sm btn-round text-white" asp-page="../Album/Index" asp-route-id="@item.Id">لیست آلبوم ها</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Css {
    <link rel="stylesheet" href="~/AdminTheme/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
}

@section Script {
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/AdminTheme/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/AdminTheme/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/AdminTheme/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminTheme/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/AdminTheme/assets/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="~/AdminTheme/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/AdminTheme/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/AdminTheme/assets/js/pages/tables/jquery-datatable.js"></script>
}