@page "{id:long}"
@model ServiceHost.Areas.AdminPanel.Pages.AlbumsModel
@{
}

<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
   asp-area="AdminPanel"
   onclick="MediomPopup('@Url.Page("./Albums","CreateAlbum", new {id = @Model.Id})','CreateAlbum')">
    Create Album 
</a>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var album in Model.Albums)
                {
                    <td>@album.Id</td>
                    <td>@album.Title</td>
                    <td>@album.Category</td>
                    <td>@album.State</td>
                    <td>
                        <a type="button" class="btn btn-warning" asp-page="./Musics"
                                asp-route-id="@album.Id">
                            Go To Musics
                        </a>
                        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                           asp-area="AdminPanel"
                           onclick="MediomPopup('@Url.Page("./Albums","EditAlbum", 
                                                     new {id = @album.Id})','EditAlbum')">
                            Edit Album 
                        </a>

                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>