@page
@using MusicManagement.Domain.Enums
@model ServiceHost.Areas.AdminPanel.Pages.BandsModel
@{
}
<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
   asp-area="AdminPanel"
   onclick="MediomPopup('@Url.Page("./Bands","CreateBand")','CreateBand')">
    Create Band
</a>
<p>
    Result :  @Model.Message
</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Number Of Audio</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var band in Model.Bands)
            {
                <tr>
                    <td>@band.Id</td>
                    <td>@band.Name</td>
                    <td>@band.Category</td>
                    <td>@band.NumberOfAudio</td>
                    <td>
                        @if (band.State == State.Active)
                        {
                            <label class="badge badge-success">Active</label>
                        }
                        else
                        {
                            <label class="badge badge-danger">UnActive</label>
                        }   

                    </td>
                    <td>
                        <a type="button"
                           class="btn btn-warning" asp-page="./Albums" asp-route-id="@band.Id">Go To Albums</a>
                        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                           asp-area="AdminPanel"
                           onclick="MediomPopup('@Url.Page("./Bands", "EditBand", new { id = @band.Id })','EditBand')">
                            Edit Band
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>