@page
@model ServiceHost.Areas.AdminPanel.Pages.BandsModel
@{
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Image</th>
                <th>Number Of Audio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var band in Model.Bands)
                {
                    <td>@band.Id</td>
                    <td>@band.Name</td>
                    <td>@band.Category</td>
                    <td>@band.Image</td>
                    <td>@band.NumberOfAudio</td>
                    <td>
                        <a type="button"
                           class="btn btn-warning" asp-page="./Albums" asp-route-id="@band.Id">Go To Albums</a>
                        <a class="btn btn-warning">Edit Album</a>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>